.movieList {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  
}
.pageCode{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}