.movieInfo{
    text-align: center;
    h1{
        margin: 10px auto;
    }
    img{
    }
    p{
        margin-top: 20px;
        text-indent: 2em;
        line-height: 30px;
        font-size: 15px;
    }
}